#Data Science Tools and Ecosystem
#In this notebook, Data Science Tools and Ecosystem are summarized.
#**Objectives:**
- List popular languages for Data Science
- List ommonly used libraries used by Data Scientists
- List of Data Science Tools
#Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia
5. C
6. SQL
7. Java
8. MATLAB
#Some of the commonly used libraries used by Data Scientists include:
-TensorFlow
-NumPy
-SciPy
-Pandas
-Matplotlib
-Keras
-SciKit-Learn
-PyTorch
##table 
| Data Science Tools |
| -------------|
| Apache Spark | 
| Jupyter Notebook |
| Keras | 
###Below are a few examples of evaluating arithmetic expressions in Python
##Author 
Maddie

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335